# Shopify
SHOPIFY_STORE_URL=https://sua-loja.myshopify.com
SHOPIFY_ACCESS_TOKEN=seu_access_token_aqui
SHOPIFY_API_VERSION=2024-01

# SQL Server
SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=nome_do_banco
SQL_SERVER_USER=usuario
SQL_SERVER_PASSWORD=senha

# ETL
ETL_LOG_LEVEL=INFO
ETL_BATCH_SIZE=250
